@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import "react-alice-carousel/lib/alice-carousel.css";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  display: none;
}
a{
  text-decoration: none;
  color: '#EEBC1D';
}
.logoCoin{
  transition: all 0.3s ease;
}
.logoCoin:hover{
  transform: scale(1.1);
}
